<html>
<head>
	<link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
	<h1>Edit Details for {{menuitem.name}}</h1>
	<form action="#" method="POST">
		<label for="name">Name:</label><br>
		<input type='text' id='name' size="30" name="name"><br>
		<label for="description">Description:</label><br>
		<textarea rows="4" cols="32" id="description" name="description"></textarea><br>	
		<label for="website">Website:</label><br>
		<input type="url" id="website" pattern="^https?://" size="30" name="website"><br>
		<label for="image">Image URL:</label><br>
		<input type="url" id="image"  pattern="^https?://" size="30" name="image"><br>
		<label for="category">Category:</label><br>
		<select id="category" name="category">
			{% for i in categories %}
			<option value="{{i.name}}">{{i.name}}</option>
			{% endfor%}
		</select><br>
		<input type="submit" name="choice" value="Edit">
		<input type="submit" name="choice" value="Cancel" formnovalidate><br>
	</form>
</body>