<html>
<head>
	<style>
		h1{
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Edit Menu Item for {{field}}</h1>
	<form action="#" method="POST">
		<label for="name">Name:</label><input type='text' id='name' size="30" name="name"><br>
		<label for="description">Description:</label><textarea rows="4" cols="50" id="description" name="description"></textarea><br>	
		<label for="website">Website:</label><input type="text" id="website" size="30" name="website"><br>
		<label for="image">Image URL:</label><input type="text" id="image" size="30" name="image"><br>
		<input type="submit" value="Edit"><br>
	</form>
</body>