{% extends "main.html" %}
{% block logBtn %}
<a href="{{url_for('gdisconnect')}}"><button class="btn btn-large float-right button" type="button">Logout</button></a>
{% endblock %}
{% block messages %}
<div class="flash">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li class="text-center"><strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</div>
{% endblock %}
{% block midContent %}
<div class="row">
	<div class="col fields text-center">
		<h2 class="text-center">Specialty Fields</h2>
		<a href="{{url_for('newField')}}"><button type="button" class="btn btn-outline-success mt-2 mb-2">Create New Field</button></a>
		<div class="text-center">
			{% for i in fields %}
			<a href="{{url_for('languages', id=i.id)}}"><h4>{{i.name}}</h4></a>
			{% endfor %}
		</div>
	</div>
	<div class="col">
		<h2 class="text-center">Latest Additions</h2>
		{% for i in latest%}
		<a href="{{url_for('languages', id=i.specialty_id, _anchor=i.name)}}"><h4>{{i.name}}</h4></a>
		{%endfor%}
	</div>
</div>
{% endblock %}