<html>
<head>
	<style>
		h1, h4{
			text-align: center;
		}
		.contain{
			width: 500px;
			margin-top: 10px;	
			border: 3px solid black;
			text-align: center;
		}
	</style>
</head>
<body>
	<div>
		<h1>Languages and Tools in {{field.name}}</h1>
		<a href="{{url_for('newMenuItem', field = field.name)}}"><h4>Add New Tool or Language</h4></a>
	</div>
	<div>
		{% for i in languages %}
		<h2><a href="#">{{i.name}}</a></h2>
		<p>{{i.description}}</p>
		<p><a href="{{'%s'%i.website}}">For More Information</a></p>
		<img src="{{i.image}}" width="300">
		<a href="{{url_for('editMenuItem', field=i.name)}}"><h5>Edit</h5></a>
		<a href="{{url_for('deleteMenuItem', field=i.name)}}"><h5>Delete</h5></a>
		{% endfor %}
	</div>
</body>