{% extends "main.html" %}
{% block logBtn %}
<a href="{{url_for('login')}}"><button class="btn btn-large float-right button" type="button">Login</button></a>
{% endblock %}
{% block messages %}
<div class="flash">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li class="text-center"><strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</div>
{% endblock %}
{% block midContent %}
<div class="row">
	<div class="col-sm-3 fields">
		<h2 class="text-center">Jump To</h2>
		<a href="{{url_for('fields')}}"><h4>Homepage</h4></a>
		{% for i in fields %}
		<a href="{{url_for('languages', id=i.id)}}"><h4>{{i.name}}</h4></a>
		{% endfor %}
	</div>
	<div class="col-sm-9 mx-auto">
		<div>
			<h2 class="text-center">Languages in {{field.name}}</h2>
		</div>
		<div class="text-center">
			{% for i in languages %}
			<div class="contain" id='{{i.name}}'>
				<h4 id="menuitems">{{i.name}}</h4>
				<p>{{i.description}}</p>
				<p><a href="{{'%s'%i.website}}" target="_blank" style="color: #28a745;">For More Information</a></p>
				<img src="{{i.image}}" width="300">
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}