h1, h6, h2, h4{
	text-align: center;
}
h1{
	font-size: 52px;
}
h2{
	color: #002266;
	font-size: 40px;
}

h4{
	font-size: 20px;
}

h4, h6{
	color: #28a745;
}

#menuitems{
	color: #002266;
	font-size: 32px;
}

.contain{
	width: 500px;
	margin-top: 10px;	
	border: 3px solid black;
	text-align: center;
	display: inline-block;
}

a:hover {
	text-decoration: none; 	
}

#primary-nav {
	background-color: #002266;
}

#header{
	color: #ffffff;
	text-align: center;
}

#awesome{
	background-color: white;
	border: 1px solid black;
	margin-top: 15px;
	margin-bottom: 30px;
}

body{
	background-color: #C0C0C0;	
}

.button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 0.25rem;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fields{
	padding-right:20px; 
	border-right: 1px solid #002266;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li{
	list-style-type: none;
}

.editBtn{
	vertical-align:middle;
}

.sign-in{
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}